{% extends '::base.html.twig' %}

{% block title %} View Product Details {% endblock %}

{% block body -%}

<div class="row">
    <div class="col-lg-2">
        <a href="{{ path('product') }}" class="btn btn-primary">
            Back to the list
        </a>
    </div>

    <div class="col-lg-10">

        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>{{ entity.id }}</dd>

            <dt>Name</dt>
            <dd>{{ entity.name }}</dd>

            <dt>Price</dt>
            <dd>{{ entity.price }}</dd>

            <dt>Description</dt>
            <dd>{{ entity.description }}</dd>
        </dl>


    </div>
</div>



</ul>
{% endblock %}
