{% extends 'base.html.twig' %}
{% block title %} Products {% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-12">
            {% for flashmessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashmessage }}
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-striped">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Options</th>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}


